body {
    background-color: #fbfbfb;
}

header p {
    font-family: "Segoe UI", sans-serif;
    font-size: 125%;
    font-weight: bold;
    color: dodgerblue;
}

footer {
    background-color: #373737;
    text-align: center;
}

figure.left {
    float: left;
}

.byline {
    font-style: normal;
    font-family: "Segoe UI", sans-serif;
    font-size: 115%;
}