body {
    background-color: #E6E9E6;
    font-family: "Segoe UI", sans-serif;
    font-size: 110%;
}

button {
    background-color: #868686;
    color: white;
    padding: 15px;
    border: 2px solid #191919;
    border-radius: 3px;
    font-size: 133%;
}

button:hover {
    background-color: #373737;
    border-color: #262046;
}

input {
    border: #373737 2px solid;
    border-radius: 2px;
    padding: 15px;
    font-size: 133%;
}


img {
    display: block;
    border: #80A780 1px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    max-height: 800px;
    height: auto;
}

ul {
    padding: 15px;
}

.textContent {
    font-family: "Segoe UI", sans-serif;
    font-size: 133%;
    color: #0F2828;
    text-align: center;
}