body {
    background-color: #fbfbfb;
    color: #0F2828;
    font-family: "Segoe UI", sans-serif;
    height: 100%;
    position: relative;
}

aside {
    background-color: bisque;
    border: black 1px solid;
    border-radius: 8px;
    float: right;
    font-style: italic;
    margin-right: 5px;
    padding: 8px;
    width: 33%;
}

button {
    border-radius: 4px;
    font-family: "Segoe UI Semilight", sans-serif;
    font-size: 175%;
    width: 100%;
    word-wrap: normal;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #16519f;
    color: white;
    align-items: center;
}

footer a {
    color: white;
    text-align: left;
    padding-left: 10px;
    vertical-align: center;
}

hr {
    width: 90%;
}

input {
    border: #373737 2px solid;
    border-radius: 2px;
    padding: 15px;
    font-size: 133%;
}

img {
    max-width: 70%;
    height: auto;
}

ul {
    list-style: none;
    padding: 15px;
}

.alignright {
    align: right;
}

.authorcredit {
    font-size: 80%;
}

.banner-child {
    display: block;
    width: fit-content;
    height: auto;
    margin-bottom: 15px;
}

.blueBackground {
    background-color: aqua;
}

.bottom-shim {
    padding-bottom: 20px;
}

.child-div-slim {
    width: 200px;
    margin: 0 20px 20px 0;
}

.child-div-med {
    width: 400px;
    margin: 0 20px 20px 0;
}

.child-div-norm-center {
    width: 100%;
    margin: 20px auto;
}

.child-div-wide {
    width: 800px;
    margin: 0 20px 20px 0;
}

.child-div-extra-wide {
    width: 1000px;
    margin: 0 20px 20px 0;
}

.copyright {
    text-align: right;
}

.current {
    color: steelblue;
}

.dark-btn {
    background-color: #274b47;
    border: #274b47 1px solid;
    color: #fff;
    cursor: pointer;
    transition: 0.25s;
    height: 100px;
    margin: 0 20px 20px 0;
}

.drop-shadow {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before, .drop-shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.drop-shadow:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

.education {
    color: #373737;
}

.enlarge-image {
    width: 120%;
    height: auto;
}

.flex-container {
    align-items: flex-start;
    align-content: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.gray-btn {
    background-color: #505050;
    border: #2f2f2f 1px solid;
    color: #fff;
    cursor: pointer;
    transition: 0.25s;
    height: 100px;
    margin: 0 20px 20px 0;
}

.greenBackground {
    background-color: green;
}

.headline {
    color: #16519f;
}

.home-image {
    float: right;
    height: auto;
    margin: 0 60px;
    width: 50%;
}

.info-image {
    height: 800px;
    width: auto;
    margin: 30px 20px 20px 30px;
    float: left;
}

.listButton {
    background-color: #868686;
    color: white;
    padding: 15px;
    border: 2px solid #191919;
    border-radius: 3px;
    font-size: 133%;
}

.listButton:hover {
    background-color: #373737;
    border-color: #262046;
}


.map-image {
    height: auto;
    width: 45%;
    margin: 30px 30px 20px 30px;
    float: right;
}

.map2 {
    height: auto;
    width: 35%;
    margin: 30px 20px;
    float: left;
}

.map3 {
    height: auto;
    width: 50%;
    margin: 30px 20px;
    float: right;
}

.module-child {
    width: 240px;
    margin: 20px 10px 0 10px;
}

.module-child-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    margin: 10px 20px 0 10px;
    width: 80%;
    word-wrap: normal;
}

.parent-container {
    width: auto;
    margin-left: 240px;
}

.past {
    color: rebeccapurple;
}

.raise:hover,
.raise:focus {
    background-color: #30e5d0;
    border: #274b47 1px solid;
    box-shadow: 0 0.5em 0.5em -0.4em #274b47;
    color: #274b47;
    transform: translateY(-0.35em);
}

.raise:active {
    background-color: #fff;
    color: #008575;
}

.raise-alt:hover,
.raise-alt:focus {
    background-color: #30e5d0;
    border: #274b47 1px solid;
    box-shadow: 0 0.5em 0.5em -0.4em #274b47;
    color: #274b47;
    transform: translateY(-0.35em);
}

.raise-alt:active {
    background-color: #fff;
    color: #008575;
}

.raise-gray:hover,
.raise-gray:focus {
    background-color: #e6e6e6;
    border: #d2d2d2 1px solid;
    box-shadow: 0 0.5em 0.5em -0.4em #2f2f2f;
    color: #2f2f2f;
    transform: translateY(-0.35em);
}

.redBackground {
    background-color: red;
}

.short-btn {
    height: 60px;
}

.shrinkphoto {
    height: auto;
    width: 50%;
}

.shrink-text {
    font-size: 80%;
}

.small-image {
    height: 450px;
    width: auto;
    margin: 30px 20px 20px 30px;
    float: right;
}

.teal-btn {
    background-color: #008575;
    border: #274b47 1px solid;
    color: #fff;
    cursor: pointer;
    height: 100px;
    transition: 0.25s;
    margin: 0 20px 20px 0;
}

.textContentCenter {
    text-align: center;
    margin: 10px 10px 20px 10px
}

.textContentLeft {
    margin: 20px 30px 20px 0;
    text-align: left;
}

.textContentRight {
    padding-right: 60px;
    text-align: right;
}

p.textContentLeft {
    margin-top: -20px;
}

ul.textContentLeft {
    margin-top: -30px;
    margin-bottom: 20px;
}