body {
    background-color: #E6E9E6;
}

img {
    display: block;
    border: #80A780 1px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    max-height: 800px;
    height: auto;
}

.textContent {
    font-family: "Segoe UI", sans-serif;
    font-size: 133%;
    color: #0F2828;
    text-align: center;
}