body {
    font-family: "Segoe UI", sans-serif;
    font-size: 110%;
    background-color: #fbfbfb;
    color: #0F2828;
}

aside {
    background-color: bisque;
    border: black 1px solid;
    border-radius: 8px;
    float: right;
    font-style: italic;
    margin-right: 5px;
    padding: 8px;
    width: 33%;
}

a:link, a:visited, .phone {
    color: #373737;
}

a:hover, a:active {
    color: firebrick;
}

h4 {
    font-size: 125%;
}

h6 {
    font-size: 85%;
}

input {
    border: #373737 2px solid;
    border-radius: 2px;
    padding: 15px;
    font-size: 133%;
}

img {
    max-width: 70%;
    height: auto;
}

ul {
    list-style: none;
    padding: 15px;
}

.alignright {
    align: right;
}

.authorcredit {
    font-size: 80%;
}
.containercenter {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0 10px 15px;
}

.containerleft {
    float: left;
}

.containerright {
    padding: 15px 0 10px 15px;
    float: right;
}

.current {
    color: steelblue;
}

.drop-shadow {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before, .drop-shadow:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.drop-shadow:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

.education {
    color: #373737;
}

.flex-container {
    align-items: flex-end;
    align-content: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.headline {
    color: #16519f;
}

.homeimage {
    float: right;
    height: auto;
    margin: 0 10px 0 20px;
    width: 40%;
}

.listButton {
    background-color: #868686;
    color: white;
    padding: 15px;
    border: 2px solid #191919;
    border-radius: 3px;
    font-size: 133%;
}

.listButton button:hover {
    background-color: #373737;
    border-color: #262046;
}

.menuHome {
    color: #373737;
    font-size: 100%;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    float: left;
    cursor: pointer;
}

.menuLeft {
    float: left;
    height: auto;
    padding: 30px 10px 0 20px;
    width: 20px;
}

.past {
    color: rebeccapurple;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.shrinkphoto {
    height: auto;
    width:50%;
}

.textContentCenter {
    text-align: center;
}
.textContentLeft {
    padding-left: 60px;
    text-align: left;
}

.textContentRight {
    padding-right: 60px;
    text-align: right;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 25px;
    }

    .sidenav a {
        font-size: 18px;
    }
}