.small-image {
    height: 450px;
    width: auto;
    margin: 30px 20px 20px 30px;
    float: right;
}

.map-image {
    height: auto;
    width: 45%;
    margin: 30px 30px 20px 30px;
    float: right;
}

.map2 {
    height: auto;
    width: 35%;
    margin: 30px 20px;
    float: left;
}

.map3 {
    height: auto;
    width: 50%;
    margin: 30px 20px;
    float: right;
}

.info-image {
    height: 800px;
    width: auto;
    margin: 30px 20px 20px 30px;
    float: left;
}
